@media (max-width: 1025px) {
  .stepper.timeline li {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.stepper.timeline li a {
  padding: 0px 24px;
  left: 50%;
}
@media (max-width: 450px) {
  .stepper.timeline li a {
    left: 6%;
  }
}
@media (min-width: 451px) and (max-width: 1025px) {
  .stepper.timeline li a {
    left: 6%;
  }
}
.stepper.timeline li a .circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  margin-left: -50px;
  background-color: #fff;
  z-index: 2;
}

.stepper.timeline li .step-content {
  width: 45%;
  float: left;
  border-radius: 2px;
  position: relative;
  background-color: #fff;
}
.stepper.timeline li .step-content:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #e0e0e0;
  border-right: 0 solid #e0e0e0;
  border-bottom: 15px solid transparent;
  content: " ";
}
.stepper.timeline li .step-content:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media (max-width: 450px) {
  .stepper.timeline li .step-content {
    width: 80%;
    left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    float: right;
  }
  .stepper.timeline li .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .stepper.timeline li .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
@media (min-width: 451px) and (max-width: 1025px) {
  .stepper.timeline li .step-content {
    width: 85%;
    left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    float: right;
  }
  .stepper.timeline li .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .stepper.timeline li .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.stepper.timeline li.timeline-inverted {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.stepper.timeline li.timeline-inverted .step-content {
  float: right;
}
.stepper.timeline li.timeline-inverted .step-content:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.stepper.timeline li.timeline-inverted .step-content:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.stepper.timeline.stepper-vertical li:not(:last-child):after {
  content: " ";
  position: absolute;
  width: 3px;
  background-color: #e0e0e0;
  left: 50%;
  top: 57px;
  margin-left: -1.5px;
}
@media (max-width: 450px) {
  .stepper.timeline.stepper-vertical li:not(:last-child):after {
    left: 6%;
  }
}
@media (min-width: 451px) and (max-width: 1025px) {
  .stepper.timeline.stepper-vertical li:not(:last-child):after {
    left: 6%;
  }
}
